<% if @book.errors.any? %>
 <%= @book.errors.count %>errors prohibited this book from being save
 <ul>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
 <% end %>
 </ul>